#content {
	border: round;
	hatch: right green 50%;

	#info {
		height: auto;

		#security {
			grid-size: 2;
			grid-columns: 1fr 2fr;
			width: 35;
			height: 6;
		}
	}

	& > * {
		hatch: right green 50%;
	}

	& > * > * {
		border: round;
		padding: 0 2;
	}
}

#log {
	height: 33%;
}
